@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Naskh+Arabic:wght@400..700&display=swap');

:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
 font-family: "Montserrat", sans-serif;
}

.overlay-text {
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent overlay */
  padding: 1.5rem 2rem;
  border-radius: 8px;
  color: #fff;
}

h1, h2, h3, h4 {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  .overlay-text {
    background-color: rgba(255, 255, 255, 0.7);
    color: #213547;
  }
}
